cloudscraper
demjson3
dotenv
duckduckgo_search
googlesearch-python
ipython
langchain
langgraph
langchain-openai
langchain-pymupdf4llm
lxml
lxml_html_clean
markdownify
numpy
pandas
playwright
PyMuPDF
pymupdf4llm
PyPDF2
pytest
readability-lxml
requests
scikit-learn
selenium
urllib3
webdriver-manager
